---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const postTitle = "My Astro Learning Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout pageTitle={postTitle}>
      <p>This is where I will post about my journey learning Astro.</p>
      <ul>
        {
          allPosts.map((post: any) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
